<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Jafor Sadik Tutul</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{% static 'assets/images/tutul.jpg' %}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>Jafor Sadik Tutul</h4>
              <span>Web Developer</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">About Me</a></li>
                <li><a href="#section2">What I’m good at</a></li>
                <li><a href="#section3">My Work</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://fb.com/templatemo"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Copyright 2019 Reflux Design</p>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>About Me</h2>
            <div class="line-dec"></div>
            <span style="text-align: justify;"
              >Full stack developer over 2 years of industrial experience in Designing, Development, Deployment and maintenance of web apps based on and Django Python. Professional Web Apps development experience using Django and inclusive of experience in UI using JavaScript, jQuery. Developed Views and Templates with Django view controller and template language to create an easily accessible website interface,</span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="{% static 'assets/images/tutul2.jpg' %}" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Personal Information</h4>
                  <p>
                   Date of birth			: 1997-05-14<br>
                    Father’s name		: Md. Abdul Jabbar<br>
                    Mother’s name		: Mst. Hafiza Khatun<br>
                    Permanent address	: Vill: Rosulpur , P.O: Bongram,
                             Dist: Pabna. Division : Rajshahi<br>
                    Marital status			: Single<br>
                    Nationality			: Bangladeshi<br>
                    Religion			: Islam<br>
                    Height              : 5.8" <br>
                    Blood Group 			: A+<br>
                    Gender			: Male<br>
                  </p>
                  <ul>
                      <li><i class="fa fa-github"></i> GitHub: <a href="https://github.com/jstutul">Click Here</a></li><br>
                      <li><i class="fa fa-facebook"></i> Facebook: <a href="https://www.facebook.com/jaforsadik.tutul/">Click Here</a></li><br>
                      <li><i class="fa fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/jafor-sadik-tutul-9617b5169/">Click Here</a></li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Educations</h4>
                    <h5>Secondary School Certificate (SSC)</h5>
                    <p>
                     Institute: Miapur haji jasimuddin high School & college
      	             Result 		: GPA 5.00 (Out of 5.00)<br>
	                 Session 		: 2014-15<br>
                     Passing Year	: 2016<br>
                     Board 			: Rajshahi
                  </p>
                    <h5>Higher Secondary Certificate (HSC)</h5>
                    <p>
                     Institute: Miapur haji jasimuddin high School & college
      	             Result 		: GPA 5.00 (Out of 5.00)<br>
	                 Session 		: 2014-15<br>
                     Passing Year	: 2016<br>
                     Board 			: Rajshahi
                  </p>
                    <h5>Bachelor of Computer Science and Engineering (BSc in CSE) </h5>
                    <p>
                     Institute:Daffodil International University<br>
      	             CGPA 		: 3.84<br>
	                 Session 		: 2017-2020<br>
                     Passing Year	: 2021
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="{% static 'assets/images/right-image.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>What I’m good at?</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>HTML5 &amp; CSS3</h4>
                <p>
                 HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets) are two of the core technologies for building Web pages.I have also a bit more idea in html and css which helps me to design some page in my website.
                </p>
              </div>
            </div>
             <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>Java & JavaScript's</h4>
                <p>
                 By comparison, JavaScript is mainly used to make web pages more interactive.JavaScript code is run on a browser only, while Java creates applications that run in a virtual machine or browser.
                    i have imtermidiate knowledge both sector in Java and Javascript's.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="second-service-icon service-icon"></div>
                <h4>Python & Django Framework</h4>
                <p>
                  Django is a Python-based free and open-source web framework that follows the model-template-views architectural pattern .I have more then 2 years of experience in django framework and completed a lot of projects.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="third-service-icon service-icon"></div>
                <h4>PHP & LAravel</h4>
                <p>
                  Laravel is a free, open-source PHP web framework, created by Taylor Otwell and intended for the development of web applications following the model–view–controller architectural pattern and based on Symfony.I am the beginer in this sector and try to completed full course of laravel.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>My Work</h2>
            <div class="line-dec"></div>
            <span
              >
                I have completed a lot of project and thesis .I have completed 3 major project in django and 3 Machine Learning project.
            </span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
            <div>
                <h3>SkilShare Demo</h3>
                <iframe src="https://drive.google.com/file/d/1XrjIo6R9iN4iHW1IfBuUavLP0JGrhhj5/preview" width="100%" height="480"></iframe>
            </div>
             <div>
                <h3>A Matrimonial Web Application Demo</h3>
                <iframe src="https://drive.google.com/file/d/1m6dOo6kzo9a06YayrTn_ovhx5nPjw92_/preview" width="100%" height="480"></iframe>
            </div>

            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
            <span
              >Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,
              efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.</span
            >
          </div>
          <div class="row">

            <div class="right-content">
              <div class="container">
               <p>Phone : +8801817552828</p>
               <p>Phone : +8801994914591</p>
               <p>G-mail : jaforsadiktutul9228@gmail.com</p>
               <p>Address : 15/A sukrabad,Dhanmondi 32,Dhaka.</p>
              </div>

            </div>
              <iframe src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d474.3048200658302!2d90.37885720304193!3d23.752808785144193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8add95e1ca5%3A0xc4ee8aa94bedc37b!2s35%20Sukrabad%20Rd%2C%20Dhaka%201215!5e0!3m2!1sen!2sbd!4v1612652894058!5m2!1sen!2sbd"
	   width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'assets/js/isotope.min.js'%}"></script>
    <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'assets/js/lightbox.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
